@model bobesponja.Models.DetailsDto
@inject bobesponja.Service.IBobService service
@{
    ViewData["Title"] = "Personagem";
} < section class="pt-5 container">
    <div class="row">
        <div class="col text-center">
            @if (Model.Prior != null)
            {
                <a asp-action="Details" asp-route-Nome="@Model.Prior.Nome" class="btn btn-lg btn-outline-dark">
                    @Model.Prior.Nome
                </a>
            }
        </div>
        <div class="col text-center">
            <h1 class="fs-1">@Model.Current.Nome</h1>
        </div>
        <div class="col text-center">
            @if (Model.Next != null)
            {
                <a asp-action="Details" asp-route-Nome="@Model.Next.Nome" class="btn btnlg btn-outline-dark">
                    @Model.Next.Nome
                </a>
            }
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-lg-5 p-0">
            <img class="img-fluid cursor-pointer" src="@Model.Current.Imagem" alt="@Model.Current.Nome">
        </div>
        <div class="col-lg-7 fs-5 mt-4">
            <p class="mb-3"><strong>Nome:</strong> @Model.Current.Nome</p>
            <p class="mb-3"><strong>Descrição:</strong> @Model.Current.Descricao</p>
            <p class="mb-3"><strong>Pecado:</strong> @Model.Current.Pecado</p>
            <p class="fw-bold">Especie</p>
            <div class="btn-group">
                <a asp-action="Index" asp-route-especie="@Model.Current.Especie"
                 class="btn btn-lg text-white"
                 style="background-color:@service.GetEspecie(@Model.Current.Especie).Cor">@Model.Current.Especie</a>
            </div>
        </div>
    </div>
    </section>